.ul {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 150px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  padding: 100px 0;
}

.ul > li {
  display: grid;
  position: relative;
}

.number {
  font-family: "American Captain";
  font-style: normal;
  font-weight: 400;
  font-size: 164px;
  line-height: 164px;

  color: #ff8282;
}

.description {
  position: absolute;
  bottom: 0;
  left: 60%;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: #150f39;

  white-space: break-spaces;
}
