.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 70px;
  justify-content: space-between;
}

.list > li {
  border: 3px solid #ff8282;
  border-radius: 5px;

  display: grid;
  justify-items: center;
  text-align: center;

  padding: 31px 10px 63px;
}

.list > li > h3 {
  font-family: "American Captain";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: center;

  line-height: 30px;

  width: 30px;
  height: 30px;

  color: #000000;

  border: 1px solid black;
  border-radius: 50%;
}

.list > li > img {
  margin: 37px 0 71px;
}

.list > li > p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  color: #000000;
}
